/* Navigation bar specific CSS variables */
$navbar-font-size: 24px;
$navbar-font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
sans-serif;
$navbar-font-weight: 300;

/* Navigation bar CSS */
.navbar {
  border-radius: 30px;
  box-shadow: 0 0 5px #ccc;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 10px 0;
  position: relative;
  width: 100%; max-width: 1700px;
}

.nav-links {
  display: inline-block;
}
.nav-links li {
  color: #000;
  display: inline-block;
  line-height: 40px;
  width: 110px;
}
.nav-links li:hover {
  text-decoration: underline
}

.nav-text {
  color: #333333;
  font-family: $navbar-font-family;
  font-size: $navbar-font-size;
  font-weight: $navbar-font-weight;
}

.logo {
  float: left;
  margin-left: 40px;
}

#product-design-button {
  display: inline-block;
  margin-left: 20px;
}

.primary-button {
  background: #B13333;
  color: #fff;
  font-family: $navbar-font-family;
  font-size: $navbar-font-size;
  font-weight: $navbar-font-weight;
  padding: 10px;
  text-decoration: none;
}

.primary-button:hover {
  background: #000
}

/* Responsive design changes to adapt to screen size */
@media only screen and (min-width: 1500px) {
  .nav-links {
    margin-left: 100px;
  }
  .nav-links li {
    width: 150px;
  }
  #product-design-button {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 1490px) {
  .nav-text {
    font-size: 20px;
  }
  .logo {
    width: 220px;
    margin-left: 10px;
  }
}