.products {
  position: absolute;
  width: 945px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  border: 0.5px solid rgb(0, 0, 0);

  &::before {
    content: "";
    margin-top: 200px;
  }

  .tab1,
  .tab2,
  .tab3,
  .tab4 {
    height: 50px;
    width: 204px;
    // background-image: linear-gradient(to right, #ff0844 0%, #000000 100%);
    padding: 15px;
    border: 0.5px solid #262626a1;
    box-shadow: -2px 2px 3px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;

    &:hover {
      background: rgb(255, 50, 50);

      .tab-text {
        color: whitesmoke;
      }
    }

    &:active {
      background-image: linear-gradient(to right, #ff0844 0%, #000000 100%);
    }

    img {
      width: 40px;
      height: 40px;
      margin-top: -10px;
    }
  }

  .tab-text {
    font-size: 25px;
    font-weight: 500;
    color: rgb(126, 126, 126);
    margin-left: 5px;
    padding: 0;
  }

  .img-box {
    width: 100%;

    .product-images {
      position: relative;
      bottom: 0px;
      box-sizing: border-box;
      display: flex;

      .image {
        position: relative;
        top: -100px;
        overflow: hidden;
        margin: 30px;
        cursor: pointer;

        &:hover img {
          transform: scale(1.2);
        }

        img {
          object-fit: cover;
          width: 250px;
          height: 450px;
          transition: transform 0.8s;
        }

        .content {
          position: absolute;
          width: 250px;
          height: 450px;
          background: rgba(26, 24, 24, 0.7);
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          transition: 0.8s ease;
          transform: scaleX(0);
        }

        &:hover .content {
          transform: scaleX(1);
        }
      }
    }
  }
}
