.wrap {
  margin: 50px 0;
}

.section3-img {
  float: right;
  width: 30%;
  margin-right: -250px;

  .hoodie-top__img {
    border: 1px solid blue;
    width: 700px;
    height: 38px;
    margin: -80px 50px 50px -210px;
  }

  img {
    height: 380px;
    width: 350px;
  }
}

.section3-content {
  width: 60%;
  float: left;
  margin-left: 10%;

  h1 {
    font-weight: 1000;
    font-size: 55px;
    padding-bottom: 20px;
  }

  p {
    color: grey;
    text-align: left;
    padding-bottom: 15px;
  }

  .section3-btn {
    top: 15px;
    align-items: center;
    border-radius: 30px;

    &:hover {
      background: rgb(255, 84, 84);

      color: white;
    }
  }
}
