@import "./navbar";
@import "./home";
@import "./section2";
@import "./section3";
@import "./section4";
@import "./footer";
@import "./mobile";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
}
