/* Navigation bar specific CSS variables */
/* Navigation bar CSS */
.navbar {
  border-radius: 30px;
  -webkit-box-shadow: 0 1px 5px #ccc;
          box-shadow: 0 1px 5px #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px auto;
  width: 90%;
  max-width: 1700px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar .logo {
  float: left;
}

.navbar .nav-links {
  display: inline-block;
}

.navbar .nav-links .nav-text {
  color: #333333;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 21px;
  font-weight: 300;
}

.navbar .nav-links .nav-text li {
  color: #000;
  display: inline-block;
  line-height: 30px;
  width: 110px;
}

.navbar .nav-links .nav-text li:hover {
  text-decoration: underline;
}

.navbar .primary-button {
  display: inline-block;
  background: #ca1527;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 21px;
  font-weight: 300;
  padding: 5px;
  text-decoration: none;
}

.navbar .primary-button:hover {
  background: #000;
  color: #fff;
}

/* Activates on the scroll*/
.scrolled {
  position: fixed;
  width: 100%;
  margin-top: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 5px #333333;
          box-shadow: 0 2px 5px #333333;
  z-index: 999;
}

/* Responsive design changes to adapt to screen size */
@media only screen and (min-width: 1500px) {
  .nav-links {
    margin-left: 100px;
  }
  .nav-links li {
    width: 150px;
  }
  #product-design-button {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 1490px) {
  .nav-text {
    font-size: 20px;
  }
  .logo {
    width: 220px;
    margin-left: 10px;
  }
}

.container {
  width: 100%;
  height: 88vh;
  margin-bottom: 60px;
}

.container .home-content {
  position: relative;
  display: block;
  margin: 130px 0 0 80px;
}

.container .home-content h1 {
  margin: 10px 0;
}

.container .home-content p {
  padding: 10px 10px 50px 0;
}

.container .home-content .social-links {
  position: relative;
  top: 20px;
}

.container .home-content .social-links .social-btn img {
  height: 35px;
  width: 35px;
  margin: 5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.container .home-content .social-links .social-btn img:hover {
  cursor: pointer;
  background: #6faedc;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px #000;
          box-shadow: 0 2px 2px #000;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.container .home-content .social-links .social-btn img:active {
  background: #ca1527;
}

.container .bg-image {
  position: relative;
  display: block;
  left: 600px;
  top: -438px;
  width: 650px;
  height: 580px;
}

.container .bg-image .home-img {
  width: 650px;
  height: 580px;
}

.wrap .section-img {
  margin-left: 50px;
  float: left;
}

.wrap .section-img img {
  height: 400px;
  width: 400px;
}

.wrap .section2-content {
  margin-right: 50px;
  width: 50%;
  float: right;
}

.wrap .section2-content h1 {
  margin-left: -20%;
  margin-bottom: 20px;
  font-weight: 1000;
  font-size: 55px;
}

.wrap .section2-content p {
  color: grey;
  margin-bottom: 10px;
}

.wrap .section2-content .section2-btn {
  border-radius: 30px;
}

.wrap .section2-content .section2-btn:hover {
  background: #ff5454;
  color: white;
}

.wrap {
  margin: 50px 0;
}

.section3-img {
  float: right;
  width: 30%;
  margin-right: -250px;
}

.section3-img .hoodie-top__img {
  border: 1px solid blue;
  width: 700px;
  height: 38px;
  margin: -80px 50px 50px -210px;
}

.section3-img img {
  height: 380px;
  width: 350px;
}

.section3-content {
  width: 60%;
  float: left;
  margin-left: 10%;
}

.section3-content h1 {
  font-weight: 1000;
  font-size: 55px;
  padding-bottom: 20px;
}

.section3-content p {
  color: grey;
  text-align: left;
  padding-bottom: 15px;
}

.section3-content .section3-btn {
  top: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

.section3-content .section3-btn:hover {
  background: #ff5454;
  color: white;
}

.react-tabs {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #aaa;
}

.react-tabs__tab-list {
  border: 1px solid #aaa;
  margin: -2px 0;
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.react-tabs__tab {
  width: 246px;
  height: 52px;
  display: inline-block;
  border: 1px solid #aaa;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 6px 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.react-tabs__tab:hover {
  background: #ca1527;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #fff;
}

.react-tabs__tab:active {
  border-bottom: none;
  background: yellow;
}

.react-tabs img {
  width: 35px;
  height: 35px;
  margin: -5px 10px -3px 30px;
}

.react-tabs .tab-text {
  font-size: 18px;
  font-weight: bold;
  padding-right: 25px;
  float: left;
}

.react-tabs--selected {
  background: #a7b813;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.react-tabs--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs:focus {
  -webkit-box-shadow: 0 0 5px #0188fe;
          box-shadow: 0 0 5px #0188fe;
  border-color: #0188fe;
  outline: none;
}

.react-tabs:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.img-box {
  width: 100%;
}

.img-box .product-images {
  position: relative;
  bottom: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.img-box .product-images .image {
  position: relative;
  top: 0px;
  overflow: hidden;
  margin: 35px auto;
  cursor: pointer;
}

.img-box .product-images .image:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.img-box .product-images .image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 250px;
  height: 420px;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.img-box .product-images .image .content {
  position: absolute;
  width: 250px;
  height: 440px;
  background: rgba(26, 24, 24, 0.7);
  top: 0;
  margin-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.img-box .product-images .image:hover .content {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.footer {
  width: 100%;
  height: 250px;
  margin: 20px auto;
}

.footer .footer-section {
  border-top: 1px solid #000;
  margin: 30px 120px;
}

.footer .footer-section .footer-logo {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-section .footer-logo .footer-copyright {
  font-size: 15px;
}

.footer .footer-section .footer-logo img {
  width: 230px;
  height: 70px;
}

.footer .footer-section .footer__nav-links {
  margin-top: 25px;
  list-style: none;
  display: inline-block;
}

.footer .footer-section .footer__nav-links li {
  padding: 10px;
}

.footer .footer-section .footer__nav-links .footer__nav-text {
  text-decoration: none;
  text-align: left;
  font-size: 18px;
  color: #000;
}

.footer .footer-section .footer__nav-links .footer__nav-text:hover li {
  background: #ca1527;
  border-radius: 100px;
  color: white;
  text-align: center;
}

.footer .footer-section .contact-info {
  float: right;
  margin: 20px auto;
}

.footer .footer-section .contact-info h4 {
  margin: 5px;
}

.footer .footer-section .contact-info .contact {
  font-size: 14px;
  font-weight: 400;
  line-height: 2px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}
/*# sourceMappingURL=style.css.map */